    body {
        background-color: black;
    }
    #judul {
        font-size: 300%;font-family: "Nabla";
    }
    .mainhead {
        text-align: center;
        color: aliceblue;
    }
    
    .biO {
        color: aliceblue;font-family: "Nabla";
    }
    .linklinkedin a{
        background-color: red;
        margin: 10px;
        padding: 10px;
        color: aliceblue;
        cursor: pointer;
    }
    .tabletitle {
        color: aliceblue;font-family: "Inter Tight";font-size: 30px;
    }
    table    {
        font-family: "Inter Tight", sans-serif;
        width: 100%;
        color:aliceblue;
        border-radius: 10px;
        }
      th { 
        text-align: center;
        border: 3px solid #dddddd;
        padding: 8px;
        border-radius: 10px;
        border-style: groove;
      }
      td{
        border: 3px solid #dddddd;
        text-align: left;
        padding: 8px;
        border-radius: 10px;
        border-style: groove;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      tr:nth-child(odd) {
        background-color: #746c6c;
      }
      td{
        color: black;
      }
      #totalmont>td  {
        color: blue;
        background-color: #D6EEEE;  
      }
      .hide{
        visibility: hidden;
      }